* {
    margin:0;
    padding: 0;
    outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    scroll-padding-top: 100px;
}
body{
    font-family: "Poppins", "Playfair Display" sans-serif;
}
a{
    text-decoration: none;
}
.bg-blue{
    background-color: #FAFAFA !important;
}
.navbar-light .navbar-toggler {
    color: rgb(255 255 255 / 55%);
    border-color: #fff;
}
li.nav-item {
    margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 600;
    padding: 8px 18px;
    border-radius: 30px;
    font-family: Poppins;
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #333;
    color: #fff;
}
.header-main{
    background: #C89D66;
    padding-top:5px ;
    padding-bottom: 3px;
}
.call-sms{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mail-sms a{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    padding-right: 10px;
    border-right: 2px solid white;
}
.mail-sms :nth-child(3){
    border-right: 0px;
}
.mail-sms a i{
    padding-right   : 8px;
    padding-left: 8px;
}
.social-icon a {
    color: #FFF;
    padding-right: 30px;
}
.social-icon{
    display: flex;
    align-items: center;
}
.social-icon :nth-child(4){
    border-radius: 4px;
    font-family: Poppins;
    border: 2px solid #352F27;
    background: #352F27;
    padding: 10px 25px;
    margin-bottom: 0%;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.social-icon :nth-child(4):focus{
    box-shadow: none;
}
.spl-dropdown a{
    color: #222;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 30px;
    font-family: Poppins;

}
.spl-dropdown a:hover{
    background: #333;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
.spl-dropdown a:focus{
    box-shadow: none;
}
.spl-dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1;
}
.spl-dropdown-menu{
    border-top: 5px solid #222;
    padding: 0%;
    border-radius: 0%;
}
.spl-dropdown-menu a{
    display: block;
    border-left: 5px solid #22222200;
    border-bottom: 1px solid #33333356;
    padding: 10px 5px;
    font-size: 16px;
    border-radius: 0%;
    font-weight: 600;
    color: rgb(85, 85, 85);
}
.spl-dropdown-menu a:active{
    background-color: #222;
    color: #FFF !important;
}
.spl-dropdown-menu a:nth-child(3){
    border-bottom: transparent !important;
}
.spl-dropdown-menu a:hover{
    border-left: 5px solid #222;
    background-color: #70695f44;
    color: rgb(200, 157, 102);
}
.spl-dropdown{
        position: relative;
        display: inline-block;
}
.spl-dropdown:hover .spl-dropdown-menu {
    display: block;
}
.navbar-expand-lg .navbar-nav .spl-dropdown-menu{
    margin-top: 12px;
}
.navbar-expand-lg .navbar-nav{
    align-items: center;
}
.py-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.slide-one-home{
    background-image: url('../image/homesliderone.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.slide-two-home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../image/homeslidertwo.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    background-size: cover;

}
.slide-three-home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../image/homesliderthree.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.slider-bg-css p{
    color: #FFF;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.slider-bg-css h1{
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.slider-bg-css  a{
    background: #C89D66;
    border:2px solid #C89D66 ;
    font-family: Poppins;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0%;
    padding: 17px 45px;
}
.slider-bg-css a:focus{
    box-shadow: none;
}
.slider-bg-css  a:hover{
    background: transparent;   
    color: #FFF;
}
.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: -40px;
    position: relative;
    z-index: 999;
    zoom: 1.5;
}
.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.home-sec-two{
    background-image: url('../image/home-section-two.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.we-fight-design img{
    height: 500px;
    border: none;
    width: 100%;
    object-fit: cover;
}
.sec-two-txt h2{
    color: #352F27;
    font-family: "Playfair Display" ;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sec-two-txt h2 span {
    color: #C89D66;
    font-style: italic;
    font-weight: 400;
}
.sec-two-txt{
    padding: 10px 30px;
}
.py-501{
    padding-top: 78px;
    padding-bottom: 50px;
}
.sec-two-txt p{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.expert-device{
    border: 2px solid #F3F0F0;
    background-image: url('../image/expert.svg');
    padding: 80px 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert-device h3{
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 0%;
    text-align: left;
}
.expert-device h4{
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0%;
    text-wrap: nowrap;
}
.expert-advice{
    padding: 50px 25px;
}
.exper-advice-bg{
    background-image: url('../image/exp-first.svg');
    background-position:bottom right;
    position: relative;
    margin-top: 1rem;
    background-repeat: no-repeat;
    border: 2px solid #F3F0F0;
}

.exper-advice-bg-to{
    background-image: url('../image/exptwo.svg');
    background-position:bottom right;
    position: relative;
    margin-top: 1rem;
    background-repeat: no-repeat;
    border: 2px solid #F3F0F0;
}

.exper-advice-bg-three{
    background-image: url('../image/expthree.svg');
    background-position:bottom right;
    position: relative;
    margin-top: 1rem;
    background-repeat: no-repeat;
    border: 2px solid #F3F0F0;
}
.expert-icon img{
    max-width: 60px;
    width: 60px;
    height: 60px;
    max-height: 60px;
}
.expert-icon{
    margin-bottom: 30px;
}
.expert-advice h3{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: start;
}
.expert-advice p{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0%;
}
.case-served h3{
    color: #352F27;     
    font-family: "Playfair Display";
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.case-served h4{
    color: #999;
    font-family: Poppins;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}
.home-heading h2{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 50px;
    font-weight: 700;    
}
.home-heading p{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}
.home-heading-btn a:focus{
    box-shadow: none;
}
.home-heading-btn a{
    border-radius: 4px;
    border: 2px solid #C89D66;
    background: #C89D66;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 14px 30px;
    letter-spacing: 0.8px;
}
.home-heading-btn a:hover{
    background: none;
    color: #C89D66;
}
.hover-bg{
    position: relative;
}
.hover-bg img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.expert-advice-two{
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background-color: rgba(17, 17, 17, 0.8);
}
.expert-advice-to{
    background-color:  rgba(200, 157, 102, 0.8) !important;
    padding: 200px 20px 20px 20px !important;
    position: absolute !important;
}
.expert-advice-two{
    display: none;
    padding: 50px 25px;

}
.hover-bg:hover .expert-advice-two{
    display: block;
    object-fit: cover;
}
.home-heading h3{
    color: #C89D66;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.video-on-img {
    position: relative;
}
.video-on-img img{
    width: 100%;
    object-fit: cover;
}
.playbtn {
    position: absolute;
    left:0% ;
    bottom: 0%;
}
.playbtn a{
    background-color: #C89D66;
    color: #FFF;
    font-size: 22px;
    width: 100px;
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.playbtn a:focus{
    box-shadow: none;
}
.modal-bg{
    background-color:  transparent !important;
}
.recent-bg img{
    height: 400px;
}
.link-open {
    position: absolute;
    right:1%;
    bottom:0%;
}
.link-open a{
    background-color: #C89D66;
    height:60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 22px;
}
.advice-bg{
    background-image: url('../image/needadvice-bg.svg');
    background-repeat: no-repeat;
    background-position: start left;
    background-size: auto;
}
.home-heading h4{
    color: #222;
    font-size: 16px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 600;
}
.skill-all{
    display: flex;
    align-items: self-start;
    margin-bottom: 30px;
}
.skil-icon{
    width: 100px;
    height: 70px;
    background-color: #C89D66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.skil-icon img{
    width: 40px;
    height: 40px;
}
.skill-icon-text h3{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7px;
}
.skill-icon-text p{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0%;
}
.clock-advice {
    margin-top: 5px;
    background: #111E29;
    display: flex;
    align-items: center;
    padding: 20px;
}
.advice-section-img img{
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.clock-icon{
    margin-right: 35px;
}
.clock-icon i{
    color: #fff;
    font-size: 50px;
}
.clock-icon-text h3{
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0%;
}
.clock-icon-text p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.why-the-bg{
    background-image: url(../image/why-they-comming.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.coma-symbol{
    padding-top: 50px;
}
.coma-symbol img{
    padding-bottom: 25px;
}
.coma-symbol p{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}
.coma-symbol h3{
    color: #C89D66;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 600;
}
.coma-symbol h4{
    color: #808080;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}
.free-demo-form{
    background-color: #C89D66;
    padding: 30px 60px;
}
.free-demo-form h4{
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0%;
}
.form-start{
    background: rgb(255, 255, 255);
box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.04);
    padding: 60px;
}
.form-start input{
    background: #F9F3F0;
    padding: 14px 16px;
    font-family: Poppins;
    color: #868E96;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0%;
}
.form-start textarea{
    background: #F9F3F0;
    padding: 14px 16px;
    font-family: Poppins;
    color: #868E96;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0%;
}
.form-start input:focus{
    box-shadow: none;
    background: #f9f3f0;
    border: 1px solid transparent;
}
.form-start textarea:focus{
    box-shadow: none;
    background: #f9f3f0;
    border: 1px solid transparent;
}
.form-start a{
    border: 2px solid #C89D66;
    background: #C89D66;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0%;
    padding: 15px 16px;
}
.form-start a:focus{
    box-shadow: none;
}
.form-start a:hover{
    background: transparent;
}
.new-article-bg{
    background-image: url('../image/news-article.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.news-heading h3{
    color: #C89D66;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.news-heading h4{
    color: #352F27;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: "Playfair Display";
}
.news-main-img{
    position: relative;
}
.news-main-img img{
    height: 290px;
    object-fit: cover;
    width: 100%;
}
.news-date{
    position: absolute;
    left: 5%;
    bottom: 5%;
    background: #C89D66;
    padding: 10px 16px;
    width: 70px;
    height: 70px;
}
.news-date h4{
    color: #FFF;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0%   ;
}
.news-main-text{
    background: #FFF;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.04);
    padding: 25px;
}
.news-main-text h3{
    color: #C89D66;
    font-family: Poppins;
    font-size: 14.4px;
    font-weight: 600;
    margin-bottom: 5px;
}
.news-main-text h4{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.news-main-text p{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0%;
}
.margin-top-new{
    margin-top: -3rem;
}
.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #1A1A1A;
}
.footer-txt p{
    color: #BBB;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 35px;
}
.social-icon-footer a{
    color: #BBB;
    padding:15px 10px ;
}
.social-icon-footer a i{
    font-size: 24px;
}
.social-icon-footer a:hover{
    background-color: #333;
    padding: 15px 10px;
    color: #C89D66;
}
.footer-heading h3{
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 16px;
    border-bottom: 2px solid #C89D66;
    position: relative;
    display: inline-block;
}
.footer-heading h3::before{
    content: '';
    display: block;
    position: absolute;
    left: 0%;
    bottom: 8%;
    width: 50%;
    height: 2px;
    background-color: #c89d66;
}
.newspost {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}
.news-post-img img{
    max-width: 64px;
    height: 46px;
    width: 100%;
    object-fit: contain;
}
.news-post-img{
    margin-right: 25px;
}
.newspost-details h3{
    color: #BBB;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.newspost-details h4 {
    color: #888F96;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}
.service-detail a span {
    color: #C89D66;
    margin-right: 16px;
    font-size: 12px;
    font-weight: bold;
}
.service-detail a{
    color: #75808B;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.footer-margin{
    margin-bottom: 20px;
}
.time-hours{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
}
.time-hours h3{
    color: #BBB;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.footer-end{
    background-color: #2A2A2A;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-end h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0%;
}
.footer-end h4 span a{
    color: #C89D66 ;
}
.lady-bg{
    background-image: url(../image/lady-bg-home.svg);
    background-repeat: no-repeat;
    background-position:left bottom;
    position: relative;
    z-index: 99;
}
.lady-second{
    background-image: url(../image/lady-second.svg);
    background-repeat: no-repeat;
    background-position:left bottom;
    position: relative;
    background-size: 58%;
    z-index: 9;

}
.bg-dark-dove{
    background-image: url(../image/dove.svg);
    background-repeat: no-repeat;
    background-position:right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 0;
}
.spl-practice-bg{
    background: #FAFAFA;
    padding: 60px 55px;
}
.margin-top-new-two{
    margin-top: -6rem;
}
.py-100{
    padding-top: 30px;
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 0.70em;
    padding: .25em .25em;
    color: #000;
    background:  url('../image/close-btn.svg');
    background-repeat: no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}
.btn-close:focus{
    box-shadow: none;
}
.about-bg{
    background-image: url('../image/about-bg.svg');
    background-position: center;
    background-position: center;
}
.about-text-first{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.about-text-first h3{
    color: #FFF;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 12px;
}
.about-text-first h4{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}
.about-text-first h4 a{
    color: #fff;
}
.about-text-first h4 span{
    margin-right: 12px;
    margin-left: 12px;
}
.about-text-first h4 a:hover{
    color: #C89D66;
}
 .nav-pills .case-link{
    border-bottom: 1px solid #EEF0F3;
    border-left: 1px solid #EEF0F3;
    background: #EEF0F3;
    padding:16px;
    color: #333;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #c89d6600;
    border-left: 5px solid #c89d6600;
    display: flex;
    border-radius: 0%;
    justify-content: space-between;
}
.nav-pill-icon{
    color: #C89D66;
    font-size: 18px;
    font-weight: 900;
}
.nav-pills .case-link.active, .nav-pills .show>.case-link{
    border-bottom: 1px solid #C89D66;
    border-left: 5px solid #C89D66;
    background: #FFF;
    color: #333;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 16px;
}
.headphone-section{
    background: #C89D66;
    padding: 40px 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.headphone-section :nth-child(1){
    display: flex;
    margin: auto;
    margin-bottom: 12px;
    
}
.headphone-section :nth-child(2){
    color: #FFF;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}
.headphone-section :nth-child(3){
    font-size: 18px;
    color: #FFF;
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 700;
    margin-bottom: 12px;
}
.file-word{
    border-radius: 3px;
    background: #C89D66;
    padding: 10px 15px;
}
.file-word a{
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 0%;
}
.file-word a span{
    border-right: 1px solid #C4965B;
    padding-right: 15px;
    font-size: 18px;
}
.file-word:hover{
    background: #d7a86b;
}
.criminal-law img{
    height: 450px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}
.criminal-law h2{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
}
.criminal-law p{
    color: #70695F;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 25px;
}
.criminal-law p a{
    color: #C4965B;
}
.criminal-law h3{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}
.criminal-case-img img{
    height: 235px;
    width: 100%;
    object-fit: cover;
}
.team-grid-section{
    text-align: center;
}
.team-pic img{
    height: 260px;
    border-radius: 50%;
    width: 260px;
    object-fit: cover;
}
.team-grid-section h3{
    color: #333;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 4px;
}
.team-grid-section h4{
    color: #70695F;
    text-align: center;
    font-family: Poppins;
    font-size: 15.2px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0%;
}
.team-pic{
    position: relative;
}
.social-icon-team {
    position: absolute;
    border-radius: 50%;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background-color:rgba(200, 157, 102, 0.9);
    height: 260px;
    width: 260px;
    margin: auto;
}
.social-icon-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
}
.social-icon-team{
    display: none;
}
.team-pic:hover .social-icon-team{
    display: block;
}
.social-icon-center a{
    border-radius: 50%;
    background-color: #111e2900;
    height: 45px;
    width: 45px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.social-icon-center a:hover{
    background-color: #1A1A1A;
}
.quick-contact{
    background: #F5F5F5;
    padding: 30px;
}
.quick-contact h3{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 13px;
    border-bottom: 2px solid  #c89d664d;;
}
.quick-contact input{
    border: 1px solid #CED4DA;
    background: #FFF;
    padding: 14px;
    color: #868E96;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0%;
}
.quick-contact input:focus{
    box-shadow: none;
    border-color: #70695F   ;
}
.quick-contact a{
    border-radius: 4px;
    border: 1px solid #C89D66;
    background: #C89D66;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 26px;
}
.quick-contact a:focus{
    box-shadow: none;
}
.quick-contact a:hover{
    background: none;
    color: #c89d66;
}
.team-emp-detail img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.testimonial-slider{
    border-radius: 12px;
    background: #FFF;
    padding: 40px;
}
.all-page-bg{
    background-color: #F6F6F6;
}
.testimo-text{
    position: relative;
}
.testimo-text img{
    position: absolute;
    right: 0%;
    width: auto !important;
}
.testimo-text p{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}
.testimo-text i{
    color: #F1C40F;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.ration-our-img img{
    max-width: 80px;
    height: 80px;
    width: 100%;
    object-fit: cover;
    border: 1px solid #333;
    border-radius: 50%;
}
.ration-detail{
    margin-left: 20px;
}
.ration-detail h3{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0%;
}
.ration-detail h4{
    color: #AAA;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.ration-our-test{
    display: flex;
    align-items: center;
}
.news-details-img img{
    height: 600px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}
.news-details-img h3{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
}
.news-details-img h4{
    color: #C89D66;
    font-family: Poppins;
    font-size: 14.4px;
    font-weight: 600;
    margin-bottom: 20px;
}
.news-details-img p{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.news-details-img h5{
    border-left: 10px solid #C89D66;
    background: #F9F9F9;
    padding: 30px;
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.news-details-img h5 span{
    color: #888;
    font-family: Poppins;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
}
.news-details-img h6{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 700;
}
.practice-bg{
    position: relative;
    background-image: url('../image/practice-page.svg');
    bottom: 0%;
    right: 0%;
}
.news-details-img-two img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}
.practice-comma{
    position: relative;
    border-left: 10px solid #C89D66;
    background: #F9F9F9;
    padding: 30px;
    margin-bottom: 20px;
}
.practice-comma img{
    position: absolute  ;
    left: 0% ;
    object-fit: none ;
}
.practice-comma h4{
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}
.practice-comma h5{
    color: #888;
    font-family: Poppins;
    font-size: 14.4px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0%;
}
.practice-search-box h3{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 17.6px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}
.search-with-btn{
    display: flex;
}
.search-with-btn input{
    border: 1px solid #CED4DA;
    background: #FFF;
    padding: 12px 20px;
    border-radius: 0%;
}
.search-with-btn input:focus{
    box-shadow: none;
    border: 1px solid #CED4DA;
}
.search-with-btn a{
    border-radius: 4px;
    border: 1px solid #C89D66;
    background: #C89D66;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 0%;
}
.search-with-btn a:hover{
    background: #c09051cd;
    color: #fff;
}
.search-with-btn a:focus{
    box-shadow: none;
}
.contact-img img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.contact-img{
    margin-bottom: 20px;
}
.true-contact{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.img-tru{
    margin-right: 8px;
}
.text-contact h3{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0%;
}
.text-contact h3 a{
    color: #C89D66;
}
.text-contact h3 span{
    font-weight: 400;
}
.contact-main p{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.contact-social-media{
    display: flex;
    margin-top: 40px;
}
.contact-social-media a{
    border-radius: 15px;
    background: #3B5998;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.f-cl{
    background: #4C75A3 !important;
}
.g-cl{
    background: #D71619 !important;
}
.i-cl{
    background: #D9CCB9 !important;
}
.t-cl{
    background: #02B0E8 !important;
}
.a-cl{
    background: #A4CA39 !important;
}
.contact-form-heading h3{
    color: #352F27;
    font-family: "Playfair Display";
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 5px;
}
.contact-form-heading h4{
    color: #70695F;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.form-start label{
    color: #70695F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.google-map iframe{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.error-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-page h2{
    color: #C89D66;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 150px;
    font-weight: 700;
    margin-bottom: 0%;
}
.back-home h3{
    color: #352F27;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 50px;
    font-weight: 700;
}
.back-home p{
    color: #70695F;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.back-home a{
    border-radius: 48px;
    border: 2px solid #C89D66;
    background: #C89D66;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0%;
    padding: 12px 36px;
}
.back-home a:hover{
    background: transparent;
}
.back-home a:focus{
    box-shadow: none;
}
/* media  */

/* 1680 */
@media (max-width: 1700px) {

}

/* 1500 */
@media (max-width: 1680px) {

}

/* 1440 */
@media (max-width: 1449px) {

}

/* 1280 */
@media (max-width: 1439px) {

}

/* 992 */
@media (max-width: 1279px) {

}

/* 768 */
@media (max-width: 991px) {

}

/* 576 */
@media (max-width: 767px) {

}

/* 525 */
@media (max-width: 575px) {

}

/* 480 */
@media (max-width: 524px) {

}

/* 425 */
@media (max-width: 479px) {

}

/* 375 */
@media (max-width: 424px) {

}

/* 320 */
@media (max-width: 374px) {

}

/* 280 */
@media (max-width: 319px) {

}

